<div ng-controller="PerceptionCtrl" class="viewport">
	<form class="search-container form-inline" ng-submit="search()">
		<input class="form-control" type="text" ng-model="searchFor" placeholder="Search for..." tabindex="1">
		<input class="form-control btn btn-primary" type="submit" value="Search">
	</form>
	<div class="percept-list">
		<div class="panel panel-default container-fluid" ng-repeat="percept in perception.percepts">
			<div class="row panel-body show-grid">
				<div class="col-md-10 col-xs-8">
					<ul class="list-unstyled">
						<li><h1>{{percept.name}}</h1></li>
						<li><h3>{{percept.vicinity}}</h3></li>
					</ul>
				</div>
				<div class="col-md-1 col-xs-2 text-center">
					<ul class="list-unstyled">
						<li class="rating"></li>
						<li class="rating-colored" ng-style="{'width': 32 * percept.rating + 'px'}"></li>
					</ul>
					<div class="price-level">{{percept.priceLevel | priceLevel}}</div>
				</div>
				<div class="col-md-1 col-xs-2 text-center">
					<div><img src="/images/arrow/moon.png" ng-style="{'-webkit-transform': 'rotate(' + percept.rotation + 'deg)'}" width="32" height="32" /></div>
					<div class="text-center"><h2>{{percept.direction}}</h2></div>
					<div class="text-center"><h3>{{percept.distance | number}} miles</h3></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		
	</div>
	<div id="map" class="percept-map"></div>
</div>